<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/projetobase</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="br.com.base.modelos.TipoServico"/>
    <mapping class="br.com.base.modelos.Produto"/>
    <mapping class="br.com.base.modelos.PrestadoraServico"/>
    <mapping class="br.com.base.modelos.Empresa"/>
    <mapping class="br.com.base.modelos.Rotas"/>
    <mapping class="br.com.base.modelos.Funcionario"/>
    <mapping class="br.com.base.modelos.Mensageiros"/> 
    <mapping class="br.com.base.modelos.Ordem_servico"/>
    <mapping class="br.com.base.modelos.Cidades"/>   
    <mapping class="br.com.base.modelos.Motivos"/>
    <mapping class="br.com.base.modelos.LogAplication"/>
    
  </session-factory>
</hibernate-configuration>
